<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ZDTSS_Transport.Properties.Settings.ZDTSS_TransportConnectionString"
            connectionString="Data Source=DAROACH-PC\SQLEXPRESS;Initial Catalog=ZDTSS_Transport;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>